body {
  background: rgb(11, 26, 39);
  color: white;
}
body .btn {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid aqua;
  color: aqua;
}
body .btn2 {
  background-color: aqua;
  box-shadow: none;
  color: black;
}
body .btn2:hover {
  background-color: rgb(20, 167, 167);
  box-shadow: none;
  color: black;
}
body .btn3 {
  background-color: transparent;
  color: aqua;
}
body .custom-file-upload {
  display: inline-block;
  cursor: pointer;
  color: #fff;
}

body .custom-file-upload input {
  display: none;
}
